@page
@model IdentityService.Pages.Register.Index


<div>
    <partial name="_ValidationSummary" />

    <div class="row">
        <div class="col-6 off">
            <div class="card">
                <div class="card-header">
                    <h2>Register</h2>
                </div>
                <div class="card-body">
                    <form asp-page="/Account/Register/Index">
                        <input type="hidden" asp-for="Input.ReturnUrl" />

                        <div class="form-group">
                            <label asp-for="Input.Username"></label>
                            <input class="form-control" placeholder="Username" asp-for="Input.Username" autofocus>
                        </div>
                        <div class="form-group">
                            <label asp-for="Input.Email"></label>
                            <input class="form-control" placeholder="Email" asp-for="Input.Email" autofocus>
                        </div>
                        <div class="form-group">
                            <label asp-for="Input.FullName"></label>
                            <input class="form-control" placeholder="Full Name" asp-for="Input.FullName" autofocus>
                        </div>
                        <div class="form-group">
                            <label asp-for="Input.Password"></label>
                            <input type="password" class="form-control" placeholder="Password" asp-for="Input.Password"
                                autocomplete="off">
                        </div>



                        <button class="btn btn-primary" name="Input.Button" value="register">Register</button>
                        <button class="btn btn-secondary" name="Input.Button" value="cancel">Cancel</button>

                        <a class=" btn btn-success d-block mt-2 " asp-page="../Login/Index"
                            asp-route-returnUrl="@Model.Input.ReturnUrl">
                            Already have an account? Login
                        </a>

                    </form>
                </div>
                @if (Model.RegisterSuccess)
                {
                    <div class="alert alert-success mt-2">
                        <strong>Success!</strong> Registration successful.
                    </div>
                }
            </div>
        </div>
    </div>
</div>